<ion-modal-view ng-controller="editProfileController">  
  <ion-content>   
    <button class="button button-clear button-top-left" ng-click="closeEditProfile()">
         <i class="icon icon-left ion-android-arrow-back"></i>
     </button>
     <button class="button button-clear button-top-right" ng-click="editPhoto($index)">
         <i class="icon icon-left ion-edit"></i>
    </button> 
    <ion-slide-box on-slide-changed="slideHasChanged($index)" delegate-handle="editSlide" class="no-padding">
      <ion-slide ng-repeat="photo in currentProfile.photos" repeat-done="repeatDone()">                
          <img ng-src="{{photo}}" height="400" width="400">                      
      </ion-slide>      
    </ion-slide-box>    
    <ion-list>
      <ion-item class="item item-text-wrap profileName">
        <h2>{{currentProfile.name}}</h2> 
      </ion-item>
      <label class="item item-input item-floating-label">
        <input type="text" placeholder="A little about yourself" ng-model="profile.bio">
      </label>            

      <ion-item class="item item-text-wrap profileName" ng-repeat="sc in currentProfile.socialLinks">                     
            <button ng-href="{{sc.link}}" class="button button-large button-clear button-positive ion-social-{{sc.name}}"></button>            
      </ion-item>      

      <button class="button button-block button-positive" ng-click="editSocialLinks()">Edit Social links</button>           
      <button class="button button-block button-balanced" ng-click="saveEditProfile()">Save</button>
      
    </ion-list>      
  </ion-content>
</ion-modal-view>