<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Editar</h1>
  </ion-header-bar>
  <ion-content>    
    <ion-slide-box on-slide-changed="slideHasChanged($index)" class="no-padding">
      <ion-slide ng-repeat="photo in profile.photos" repeat-done="repeatDone()">                
          <img ng-src="{{photo}}" height="400" width="400">                      
      </ion-slide>               
    </ion-slide-box>    
    <ion-list>
      <ion-item class="item item-text-wrap profileName">
        <h2>{{profile.name}}</h2>
        <span>            
            <i class="icon icon-left ion-location profileDistance"> 22Km </i>           
        </span>      
      </ion-item>
      <label class="item item-input item-floating-label">
        <span class="input-label">A little about yourself</span>
        <input type="text" placeholder="A little about yourself">
      </label>            

      <ion-item class="item item-text-wrap ">
            <button class="button button-large  button-clear button-positive  ion-social-twitter-outline"></button>
            <button class="button button-large  button-clear button-positive ion-social-facebook"></button>
            <button class="button button-large button-clear button-positive  ion-social-snapchat-outline "></button>
            <button class="button button-large  button-clear button-positive ion-social-instagram-outline"></button>
            <button class="button button-large button-clear button-positive ion-social-whatsapp-outline"></button>                    
            <button class="button button-large button-clear button-positive  ion-social-youtube "></button>
            <button class="button button-large  button-clear button-positive ion-social-googleplus"></button>
            <button class="button button-large button-clear button-positive ion-social-pinterest"></button>
      </ion-item>

      <button class="button button-block button-positive" ng-click="showSocialLinks()">Edit Social links</button>      

      <ion-item class="item item-text-wrap profileName">
         <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu dictum eros. Nullam tincidunt consectetur orci, vel mollis tellus auctor nec. Nunc egestas aliquet vulputate. Donec ac dolor vehicula, lobortis lacus non, pharetra quam. Cras ac dui auctor, tincidunt neque non, elementum tortor.  
         </p>
      </ion-item>
      
    </ion-list>      
  </ion-content>
</ion-modal-view>