<ion-modal-view>  
  <ion-header-bar>     
      <button class="button button-clear button-top-left" ng-click="closeEditSocialLinks()">
         <i class="icon icon-left ion-android-arrow-back"></i>
      </button>    
    <h1 class="title">Social Links</h1>    
  </ion-header-bar>
  <ion-content class="outWithHasTabsTop">       
    <ion-list>      
      <a class="item item-icon-left item-icon-right" ng-click="editSocialSetting()">
        <i class="icon ion-social-facebook"></i>
        Facebook
        <i class="icon ion-ios-arrow-right"></i>
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-social-whatsapp-outline"></i>
        Whats App        
        <i class="icon ion-ios-arrow-right"></i>
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-social-instagram-outline"></i>
        Instagram
        <i class="icon ion-ios-arrow-right"></i>        
      </a>

      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-social-pinterest"></i>
        Pinterest
        <i class="icon ion-ios-arrow-right"></i>        
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-social-twitter"></i>
        twitter
        <i class="icon ion-ios-arrow-right"></i>        
      </a>
      <a class="item item-icon-left item-icon-right" href="#">
        <i class="icon ion-social-snapchat-outline"></i>
        snapchat
        <i class="icon ion-ios-arrow-right"></i>        
      </a>
    </ion-list>      
  </ion-content>
</ion-modal-view>