<!--
  View: matchDetail.html
  Description: View responsável por aprensetar os detalhes da combinação.
  Author: Edian Comachio 
 -->
<ion-modal-view ng-contrller="MatchesCtrl">  
  <ion-header-bar>     
      <button class="button button-clear button-top-left" ng-click="closeMatchDetail()">
         <i class="icon icon-left ion-android-arrow-back"></i>
      </button>    
    <h1 class="title">Match Detail</h1>    
  </ion-header-bar>
  <ion-content class=" outWithHasTabsTop detailBG" ng-init="buildGraph()">    
    <!--<div class="rateTitle">        
      <h1 id="rateTitleh1">{{sugestions[10].name}}</h1>
    </div>-->
    <div class="percentageContainer">          
      <div id="percentage">
        <p>{{match.percentage}}%</p>
      </div>      
    </div>    
    <h1 class="detailTitle A7CCED">Charts</h1>
    <div class="card chart">      
      <canvas id="doughnut" class="chart chart-doughnut"
              chart-data="doughnut.data" chart-labels="doughnut.labels">
      </canvas> 
    </div>
    <div class="card chart">
      <canvas id="bar" class="chart chart-bar" chart-data="bar.data"
              chart-labels="bar.labels" chart-series="bar.series" chart-options="bar.options"              
      </canvas> 
    </div>
    <div class="bestInterest">
      <p class="detailTitle 00A5CF">Interests Ranking<p>      
      <div ng-repeat="interest in match.interestsInCommon | limitTo : 5">
      <span class="h{{$index + 1}}">{{interest.name}}</span>      
    </div>
    <div class="profile">
      <div id="profile-info">
          <img id="profile-image" src="{{match.profilePic}}">
      </div>
      <h1 class="profileTitle A7CCED">{{match.name}}</h1>
      <div class="profileButtons">
        <button class="button button-block button-positive" ng-click="chat()">
            Send a message!
        </button>
        <button class="button button-block button-royal" ng-click="callMatchProfile(match)">
            Go to the profile!
        </button>
        <button class="button button-block button-assertive">
            Social Links
        </button>
      </div>
    </div>
  </ion-content>                      
</ion-modal-view>
