<!--
  View: matches.html
  Description: View responsável por aprensetar o lista de combinações do usuário logado.
  Author: Edian Comachio 
 -->
<ion-view view-title="Matches" ng-controller="MatchesCtrl" ng-init="getUserMatches()">
  
  <ion-content class="outWithHasTabsTop">         
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchMatches">
      </label>    
    </div>
    <ion-list>    
      <ion-item class="item-remove-animate item-thumbnail-left  item item-avatar matches" href="#" ng-repeat="match in matches | filter:searchMatches" ng-click="chat()">
      	
      <img src="{{match.profilePic}}">
	    <h2>{{match.name}}</h2>
    	<p>{{match.percentage}}</p>            	
    	
      <ion-option-button class="button-energized" ng-click="getMatchDetails(match)"><i class="icon ion-pie-graph"></i></ion-option-button>   
      </ion-item>      
    </ion-list>    
    </div>
  </ion-content>
</ion-view>