<!--
  View: matches.html
  Description: View responsável por aprensetar o lista de combinações do usuário logado.
  Author: Edian Comachio 
 -->
<ion-view view-title="Matches">
  
  <ion-content class="outWithHasTabsTop">         
    <div class="item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-model="searchMatches">
      </label>    
    </div>
    <ion-list>
      <a class="item-remove-animate item item-avatar matches" href="#" ng-repeat="sugestion in sugestions | filter:searchMatches">
        <img src="{{sugestion.profilePic}}">
        <h2>{{sugestion.name}}</h2>
        <p>{{sugestion.interestsInCommon}}</p>        
      </a>      
    </ion-list>    
    </div>
  </ion-content>
</ion-view>