<!--
  View: profile.html
  Description: View responsável por aprensetar o perfil do usuário.
  Author: Edian Comachio 
 -->
<ion-modal-view>
  <!--<ion-header-bar>
    <div class="buttons">
      <button class="button button-positive" ng-click="closeProfile()">
         <i class="icon icon-left ion-arrow-left-c"></i>
      </button>
    </div>
    <h1 class="title">{{profile.name}}</h1>
    <button class="button button-positive" ng-click="editProfile()">
         <i class="icon icon-left ion-edit"></i>
    </button>
  </ion-header-bar>-->
  <ion-content>    
    <button class="button button-clear button-top-left" ng-click="closeProfile()">
         <i class="icon icon-left ion-android-arrow-back"></i>
     </button>
     <button class="button button-clear button-top-right" ng-click="editProfile()">
         <i class="icon icon-left ion-compose"></i>
    </button>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" class="no-padding">
      <ion-slide ng-repeat="photo in profile.photos" repeat-done="repeatDone()">                
          <img ng-src="{{photo}}" height="400" width="400">                      
      </ion-slide>               
    </ion-slide-box>    
    <ion-list>
      <ion-item class="item item-text-wrap profileName">
        <h2>{{profile.name}}</h2>
        <span>            
            <i class="icon icon-left ion-location profileDistance"> 22Km </i>           
        </span>      
      </ion-item>
      <ion-item class="item item-text-wrap profileName">
          {{profile.bio}}
         </p>
      </ion-item>
      <ion-item class="item item-text-wrap profileName" ng-repeat="sc in profile.socialLinks">                     
            <button ng-href="{{sc.link}}" class="button button-large button-clear button-positive ion-social-{{sc.name}}"></button>            
      </ion-item>      
    </ion-list>         
  </ion-content>                      
</ion-modal-view>