<!--
  View: sugestion.html
  Description: View responsável por aprensetar o lista de sugestões do usuário logado.
  Author: Edian Comachio 
 -->
<ion-view view-title="Sugestões">
  <ion-content class=" outWithHasTabsTop">      
    <ion-list>                  
      <div class="list card" ng-repeat="sugestion in sugestions" ng-model="sugestion" >
        <div class="item">                     
          <h1>{{sugestion.name}}</h1>
        </div>
        <div class="item item-image">
          <img ng-src="{{sugestion.photos}}" ng-click="callSugestionProfile(sugestion)">
        </div>                   
        <div class="button-bar padding-top">
          <button class="icon ion-close-round button button-large button-clear button-balanced"></button>
          <button class="icon ion-ios-heart button button-large button-clear button-assertive"></button>
        </div>
      </div>      
      </ion-card>
    </ion-list>
  </ion-content>
</ion-view>