<!--
  View: sugestion.html
  Description: View responsável por aprensetar o lista de sugestões do usuário logado.
  Author: Edian Comachio 
 -->
<ion-view view-title="Sugestões">
  <ion-content class="outWithHasTabsTop sugestionBG" delegate-handle="sugestionScrollHandle" scroll="{{allowScroll}}">    
    <section class="section-modal">              
      <div class="overlay">      
        <div style="background-image: url(img/match.png)" class="matchImg"></div>    
        <div class="matchAux">
          <div class="match1"></div>
          <div class="match2"></div>
        </div>
        <div class="matchButtons">
          <button class="button matchButton1" ng-click="chat()">
              Send a message!
          </button>        
          <button class="button matchButton2" ng-click="dismissMatchModal()">
              Maybe Later
          </button>
        </div>      
      </div>
    </section>
    <div class="list card sugestionCard animate" ng-repeat="sugestion in sugestions" ng-model="sugestion">
      <ion-list>            
          <div class="info" id="sugestion-list">    
             <div class="sugestionName">
                <p>{{sugestion.name}}, 20</p>
            </div>     
            <div class="item item-image sugestionImage">
              <img ng-src="{{sugestion.profilePic}}" class="suggestionImg" ng-click="callSugestionProfile(sugestion)">
            </div>                   
            
            <div class="button-bar padding-top sugestionButtons">            
              <button class="icon ion-close-round button button-large button-clear button-balanced" ng-click="dislike(sugestion, $index)"></button>
              <button class="icon ion-heart button button-large button-clear button-assertive" ng-click="like(sugestion, $index)"></button>
            </div>
            <div class="top line"></div>
            <div class="bot line"></div>
          </div>
        </div>      
        </div>
      </ion-list>
  </ion-content>
</ion-view>