<!--
  View: tabs.html
  Description: View responsável por gerenciar o menu lateral e as abas da aplicação.
  Author: Edian Comachio 
 -->

<ion-side-menus enable-menu-with-back-views="false" ng-init="getUserInfoSidebar()">
  <ion-side-menu-content>
    <!-- section reponsavel por apresentar o botão do menu lateral - Tres listrinhas -->
    <ion-nav-bar class="bar bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- TABS 
      Abas da aplicação: 1 - Sugestões 
                         2 - Combinações
    -->  
    <ion-tabs class="tabs-icon-top tabs-positive subtabs ">

      <ion-tab icon="ion-compass" href="#/tab/sugestion">
        <ion-nav-view name="sugestion-tab"></ion-nav-view>
      </ion-tab>

      <ion-tab icon="ion-heart" href="#/tab/matches">
        <ion-nav-view name="matches-tab"></ion-nav-view>
      </ion-tab>
    </ion-tabs>
  
  </ion-side-menu-content>

  <!-- Side Menu (left) 
    Section que gerencia o conteúdo interno no menu lateral.
      1 - currentProfile: Apresenta o perfil do usuário logado
      2 - Settings: Configurações gerais da aplicação (TODO)
      3 - SingOut: Logoff do sistema (TODO - logoff facebook)
  -->
  <ion-side-menu side="left">
    <ion-header-bar class="expanded bar bar-header disable-user-behavior" style="background-image: url({{currentProfile.coverPicUrl}});">
        <img src="{{currentProfile.photos[0]}}" class="avatar motion spin fade" style="height: 4.8em; width: 4.8em;">
        <div class="menu-bottom">
            {{currentProfile.name}}
        </div>
    </ion-header-bar>
    <ion-content class="stable-bg has-expanded-header stable-bg-custom">
      <ion-list>
        <ion-item menu-close ng-click="getLoggedUserProfile()" class="item item-icon-left item-custom-night">
          <i class="icon ion-person"></i>
          Profile
        </ion-item>
        <ion-item menu-close ng-controller="SettingsCtrl" ng-click="getUserSettings()" class="item item-icon-left item-custom-night">
          <i class="icon ion-settings"></i>
          Settings
        </ion-item>        
        <ion-item menu-close class="item item-icon-left item-custom-night">          
            <i class="icon ion-log-out"></i>
            Sing Out          
        </ion-item>        
      </ion-list>
      <div class='landscape'>
        <div class='moon'></div>
        <div class='layer l1'>
          <div class='hills'>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class='layer l2'>
          <div class='hills'>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class='layer l3'>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
          <div class='la'>
            <div class='l'></div>
            <div class='l'></div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
