/* Empty. Add your own CSS if you like */
body{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.slider-pager-page
{
  color: white;
  fill: #f90;
  stroke: red;

  
}
.slider-pager-page.active
{
  fill: #f90;  
  color: blue;
  
}

.platform-android {
  .tabs-content {
    @extend .has-tabs-top;
  }
}

.platform-ios {
  .tabs-content {
    @extend .has-tabs;
  }
}

.profileName h2{ 
   font-size: 2.0em;   
}

.profileDistance{
  font-size: 1.5em;

}

.no-padding {
    padding: 0px !important;
}

.slider {
  height:23em; /* slider height you want */
}
.slider-slide {
 color: #000;
 background-color: #fff;
 height: 100%;
} 

.slider-slide img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.sugestion{
  height:25sem;

}

.sugestion img{  
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.slideCustom img{
    
}

.menu .bar.bar-header.expanded {    
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}
.avatar2{
  height: 3em;
  width: 3em;
}

.tabs-top > .tabs, .tabs.tabs-top{
  z-index: 999 !important; 
  width: 85% !important; 
  right: 0 !important; 
  box-shadow: 0 0 0 0 rgba(0,0,0,.26) !important;  
}

.tabs{
  height: 60px !important; 
}

.tab-item .icon {
  padding: 5px !important;
  font-size: 42px !important;  
}

.bar-header{
  height: 60px !important;
}

.outWithHasTabsTop{
  top: 60px !important; 
}

.createLoading{
   background: url("blurground.jpg") no-repeat;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.creatingLoadingConteiner{
  width:200px;
  height:200px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-100px;
  margin-left:-100px;

}

.spinnerCreate{

}

.createLoadingText{  
  text-align: center;
}

.createLoading .item{  

}

.createLoadingText h2{
   color: #fff;
}

.loginScreen{
    /* background: url("../img/afternoon.jpg") no-repeat;  */
    /* background: url("../img/noon.jpg") no-repeat;       */
    /* background: url("../img/night.jpg") no-repeat;      */
    /* background: url("../img/night1.jpg") no-repeat;     */
    /* background: url("../img/night2.jpg") no-repeat;     */
    /* background: url("../img/night3.jpg") no-repeat;     */    
     background: url("../img/night4.jpg") no-repeat;     
    /* background: url("../img/afternoon2.jpg") no-repeat; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loginLogo p {  
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.tabs-top > .tabs, .tabs.tabs-top{
  top:0 !important;
}
.loginLogo{   
   text-align: center;
   margin-top: 100px;
   font-size: 80px;   
   font-weight: bold;   
}

.loginScreen .item{
  background: inherit !important;
  position: absolute;
  top: 60%;
  border: none;
}

.spinner svg {
  width: 80% !important;
  height: 85px !important;
  position: absolute;
  left: 10% !important;
}

.list .matches{  
   min-height: 90px !important;
   
}

.item-avatar img{       
  max-width: 70px !important;  
  max-height: 70px !important; 
}

.outWithHasTabsTopWithSearch{
  

}

.search{
  border: 2px solid #000;
  margin: 20px;
}

.settingsContent{
  padding:5px;
}

.suggestionImg{
  max-height:350px !important;
}

.matches .details i{  
  color:orange;
}

#percentage {   
  font-family: 'Open Sans', sans-serif;
  color: #293241;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 8em;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;  
  position: relative;
  padding: 25px;
}

.detailBG{
background-color: #293241;
}

.percentageContainer{
  text-align: center;
  background-color: #C6D8FF;
}

.detailTitle{
  text-align: center;
  font-family: 'Open Sans', sans-serif;  
  text-decoration: none;  
  font-size: 3em;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1;    
}

.A7CCED{
  color: #A7CCED;
}

.00A5CF{
  color:#00A5CF;
}

.bestInterest{
  font-family: 'Open Sans Condensed', sans-serif; font-size: 48px; color: #333; 
  background-color: #A7CCED;
  padding: 20px;
}

.bestInterest h1, h2{
  color:#011638;
}

.bestInterest h1{
  font-family: 'Open Sans', sans-serif;
  color: #293241;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;  
  position: relative;  
}

.bestInterest h2{
  font-family: 'Open Sans', sans-serif;
  color: #293241;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;  
  position: relative;  
}

.bestInterest h3{
  font-family: 'Open Sans', sans-serif;
  color: #293241;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;  
  position: relative;  
}

.bestInterest h4{
  font-family: 'Open Sans', sans-serif;
  color: #293241 !important;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .5em;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;  
  position: relative;  
}

.bestInterest h5{
  font-family: 'Open Sans', sans-serif;
  color: #293241;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .4em;
  font-weight: 800;
  letter-spacing: -1px;
  line-height: 1;  
  position: relative;  
}

.bestInterest p{
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;  
  color:#004E64;
  font-size: .5em;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1;  
  position: relative;  
}

.chart{
  background-color: #D9E9F4;
}

.profileTitle{
  text-align: center;
  font-family: 'Open Sans', sans-serif;  
  text-decoration: none;  
  font-size: 2em;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1;      
  padding: 5px;
}

#profile-image {
    display: block;
    border-radius: 100px;        
    width: 128px;
    height: 128px;
    margin: 20px auto 0;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

.profileButtons{
  margin: 10px;
}

.rateTitle{
 background-color: #FFD23F;  
 padding: 20px;
 text-align: center;
}

.sugestionBG{
   background: url("blur1.jpg") no-repeat;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

.matchItem details{
  float: right;
  z-index: 10;
}

.heart-bg{
  background: url("heart.jpg") no-repeat;    
  background-size: 100px;  
}

.stable-bg-custom{
  background-color: #222;
  overflow: hidden;
}

.item-custom-night {
  background: #222;
  color: #ddd;
}
/**********************************************************************************
 * ANIMAÇÕES DA SIDEBAR ***********************************************************
 *********************************************************************************/

.landscape {  
  height: 500px;
  background: #222;
  overflow: hidden;  
}

.moon {
  position: absolute;
  left: 50%;
  bottom: 140px;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -105px;
  border-radius: 50%;
  background: #ccc;
}

.moon:after {
  top: 190px;
  left: 100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 120px 80px 0 rgba(0, 0, 0, 0.1), 100px -60px 0 -20px rgba(0, 0, 0, 0.1), -70px 40px 0 -20px rgba(0, 0, 0, 0.1), -20px -50px 0 -15px rgba(0, 0, 0, 0.1), -20px 120px 0 -15px rgba(0, 0, 0, 0.1), 50px 50px 0 -15px rgba(0, 0, 0, 0.1);
}

/* Animation Setup */
.layer {
  position: absolute;
  bottom: 0;
  -webkit-animation: 10s linear infinite alternate;
          animation: 10s linear infinite alternate;
}

.l1 {
  z-index: 1;
  -webkit-animation-name: l1;
          animation-name: l1;
}

.l2 {
  z-index: 2;
  -webkit-animation-name: l2;
          animation-name: l2;
}

.l3 {
  z-index: 3;
  -webkit-animation-name: l3;
          animation-name: l3;
}

@-webkit-keyframes l1 {
  100% {
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0);
  }
}

@keyframes l1 {
  100% {
    -webkit-transform: translate3d(-100px, 0, 0);
            transform: translate3d(-100px, 0, 0);
  }
}
@-webkit-keyframes l2 {
  100% {
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
  }
}
@keyframes l2 {
  100% {
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
  }
}
@-webkit-keyframes l3 {
  100% {
    -webkit-transform: translate3d(-500px, 0, 0);
            transform: translate3d(-500px, 0, 0);
  }
}
@keyframes l3 {
  100% {
    -webkit-transform: translate3d(-500px, 0, 0);
            transform: translate3d(-500px, 0, 0);
  }
}
/* Lantern Layer */
.l3 {
  bottom: 0;
  width: 1000%;
  background: #182b3d;
}

.la {
  position: absolute;
  bottom: 0;
  width: 1.5px;
  height: 35px;
  background: #182b3d;
  margin-right: 20px;
}

.la:before {
  top: 5px;
  left: -10px;
  width: 22px;
  height: 2px;
  background: #182b3d;
}

.la:after {
  bottom: 0;
  left: -2px;
  width: 6px;
  height: 12px;
  background: #182b3d;
}

.l {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 10px #fff, 0 0 25px #fff, 0 0 50px #fff;
}

.l:nth-child(1) {
  left: -10px;
}

.l:nth-child(2) {
  right: -10px;
}

.la:nth-child(1) {
  left: 100px;
}

.la:nth-child(2) {
  left: 200px;
}

.la:nth-child(3) {
  left: 300px;
}

.la:nth-child(4) {
  left: 400px;
}

.la:nth-child(5) {
  left: 500px;
}

.la:nth-child(6) {
  left: 600px;
}

.la:nth-child(7) {
  left: 700px;
}

.la:nth-child(8) {
  left: 800px;
}

.la:nth-child(9) {
  left: 900px;
}

.la:nth-child(10) {
  left: 1000px;
}

.la:nth-child(11) {
  left: 1100px;
}

.la:nth-child(12) {
  left: 1200px;
}

.la:nth-child(13) {
  left: 1300px;
}

.la:nth-child(14) {
  left: 1400px;
}

.la:nth-child(15) {
  left: 1500px;
}

.la:nth-child(16) {
  left: 1600px;
}

.la:nth-child(17) {
  left: 1700px;
}

.la:nth-child(18) {
  left: 1800px;
}

.la:nth-child(19) {
  left: 1900px;
}

.la:nth-child(20) {
  left: 2000px;
}

/* Mountain Layer */
.hills div {
  border-radius: 5%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hills div {
  position: absolute;
}

.l1 .hills div {
  bottom: -350px;
  width: 440px;
  height: 440px;
  background: #20374f;
}

.l2 .hills div {
  bottom: -400px;
  width: 440px;
  height: 440px;
  background: #274461;
}

.l1 .hills div:nth-child(1) {
  left: -180px;
}

.l1 .hills div:nth-child(2) {
  left: 180px;
}

.l1 .hills div:nth-child(3) {
  left: 560px;
}

.l1 .hills div:nth-child(4) {
  left: 800px;
}

.l1 .hills div:nth-child(5) {
  left: 1400px;
}

.l1 .hills div:nth-child(6) {
  left: 1800px;
}

.l1 .hills div:nth-child(7) {
  left: 2200px;
}

.l1 .hills div:nth-child(8) {
  left: 2600px;
}

.l2 .hills div:nth-child(1) {
  left: 0px;
}

.l2 .hills div:nth-child(2) {
  left: 360px;
}

.l2 .hills div:nth-child(3) {
  left: 800px;
}

.l2 .hills div:nth-child(4) {
  left: 1200px;
}

.l2 .hills div:nth-child(5) {
  left: 1600px;
}

.l2 .hills div:nth-child(6) {
  left: 2000px;
}

.l2 .hills div:nth-child(7) {
  left: 2400px;
}

.l2 .hills div:nth-child(8) {
  left: 2800px;
}

.button-top-left {
  position: absolute;
  box-shadow: #000;
  top: 0.3em;
  left: 0.3em;
  z-index: 1;  
}

.button-top-right {
  position: absolute;  
  top: 0.3em;
  right: 0.3em;
  z-index: 1;
}

.button-top-right i, .button-top-left i{
  text-shadow: #111 1px 1px 1px;
  color:#eee;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:100vw;
    height:100vw;
    display:block;
    position: relative;
    text-align: center;
}

.cropArea canvas{
  display: inline-block;  
  margin: 0!important;
  position: unset;
}

img-crop {
   display: block;
   width: 100%;
   height: 100%;
   canvas{
      margin: 0!important;
   }
}

.footer {
   position:absolute;
   bottom:50px;
   width:100%;
}

.angular-google-map-container { height: 400px; }



