/* Empty. Add your own CSS if you like */
body{
  font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.slider-pager-page
{
  color: white;
  fill: #f90;
  stroke: red;

  
}
.slider-pager-page.active
{
  fill: #f90;  
  color: blue;
  
}

.platform-android {
  .tabs-content {
    @extend .has-tabs-top;
  }
}

.platform-ios {
  .tabs-content {
    @extend .has-tabs;
  }
}

.profileName h2{ 
   font-size: 2.0em;   
}

.profileDistance{
  font-size: 1.5em;

}

.no-padding {
    padding: 0px !important;
}

.slider {
  height:23em; /* slider height you want */
}
.slider-slide {
 color: #000;
 background-color: #fff;
 height: 100%;
} 

.slider-slide img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.sugestion{
  height:25sem;

}

.sugestion img{  
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.slideCustom img{
    
}

.menu .bar.bar-header.expanded {    
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}
.avatar2{
  height: 3em;
  width: 3em;
}

.tabs-top > .tabs, .tabs.tabs-top{
  z-index: 999 !important; 
  width: 85% !important; 
  right: 0 !important; 
  box-shadow: 0 0 0 0 rgba(0,0,0,.26) !important;  
}

.tabs{
  height: 60px !important; 
}

.tab-item .icon {
  padding: 5px !important;
  font-size: 42px !important;  
}

.bar-header{
  height: 60px !important;
}

.outWithHasTabsTop{
  top: 60px !important; 
}

.createLoading{
   background: url("blurground.jpg") no-repeat;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.creatingLoadingConteiner{
  width:200px;
  height:200px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-100px;
  margin-left:-100px;

}

.spinnerCreate{

}

.createLoadingText{  
  text-align: center;
}

.createLoading .item{  

}

.createLoadingText h2{
   color: #fff;
}

.loginScreen{
    /* background: url("../img/afternoon.jpg") no-repeat;   */
   /* background: url("../img/noon.jpg") no-repeat;    */
   /* background: url("../img/night.jpg") no-repeat;    */
   /* background: url("../img/night1.jpg") no-repeat;   */
    /* background: url("../img/night2.jpg") no-repeat;   */
    /* background: url("../img/night3.jpg") no-repeat; */   
    background: url("../img/night4.jpg") no-repeat;   
    
   /* background: url("../img/afternoon2.jpg") no-repeat;   */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loginLogo p {  
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.tabs-top > .tabs, .tabs.tabs-top{
  top:0 !important;
}
.loginLogo{   
   text-align: center;
   margin-top: 100px;
   font-size: 80px;   
   font-weight: bold;   
}

.loginScreen .item{
  background: inherit !important;
  position: absolute;
  top: 60%;
  border: none;
}

.spinner svg {
  width: 80% !important;
  height: 85px !important;
  position: absolute;
  left: 10% !important;
}

.list .matches{  
   min-height: 90px !important;
   padding-left: 105px !important;
}

.item-avatar img{       
  max-width: 70px !important;  
  max-height: 70px !important; 
}

.outWithHasTabsTopWithSearch{
  

}

.search{
  border: 2px solid #000;
  margin: 20px;
}

.settingsContent{
  padding:5px;
}